.container {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.container > * {
  min-width: 25rem;
  max-width: 40rem;
}

.image {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: 3rem;
  padding: 2rem;
  color: rgb(30, 30, 30);
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.origins {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins > span {
  padding: 0.3rem 0.9rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background: rgb(200, 200, 200);
  border-radius: 2rem;
}

.cook_time {
  margin-top: 1rem;
}

.cook_time span {
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}

.price {
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
  color: rgb(61, 155, 84);
}

.price::before {
  content: "Price: ";
  color: rgb(150, 150, 150);
}

.button {
  color: white;
  background: rgb(50, 50, 50);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .container > * {
    min-width: 5rem;
    max-width: 10rem;
  }

  .image {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
  }

  .details {
    margin-left: 1rem;
  }

  .name {
    font-size: 1.5rem;
  }
  .button {
    width: 150px;
  }
  .price {
    font-size: 1.5rem;
  }
  .origins span {
    font-size: 0.8rem;
  }

  .cook_time span {
    font-size: 1.5rem;
  }
}
